@import prefixes
@import colors
@import basics
.bydleni
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 100%
    overflow hidden
svg
    path.line
        fill none
        stroke red
        stroke-width 1px
    g.axis
        text
            fill #555
            font-size 0.8em
        line
            stroke #ccc
            stroke-width 1px
            shape-rendering crispEdges
        path
            shape-rendering crispEdges
            fill none
            stroke #ccc
            stroke-width 1px
