@import prefixes
@import colors
@import basics
.bydleni
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 100%
    overflow hidden
svg.LineGraph
    g.line
        path
            stroke HNBlue

        path.line
            fill none
            stroke-width 1px

    g.regions
        g.region:nth-child(1)
            g.line
                &:nth-child(1) path
                    stroke #08519c
                &:nth-child(2) path
                    stroke #3182bd
                &:nth-child(3) path
                    stroke #6baed6
        g.region:nth-child(2)
            g.line
                &:nth-child(1) path
                    stroke #006d2c
                &:nth-child(2) path
                    stroke #31a354
                &:nth-child(3) path
                    stroke #74c476
        g.region:nth-child(3)
            g.line
                &:nth-child(1) path
                    stroke #a63603
                &:nth-child(2) path
                    stroke #e6550d
                &:nth-child(3) path
                    stroke #fd8d3c
        g.region:nth-child(4)
            g.line
                &:nth-child(1) path
                    stroke #54278f
                &:nth-child(2) path
                    stroke #756bb1
                &:nth-child(3) path
                    stroke #9e9ac8
        g.region:nth-child(5)
            g.line
                &:nth-child(1) path
                    stroke #a50f15
                &:nth-child(2) path
                    stroke #de2d26
                &:nth-child(3) path
                    stroke #fb6a4a
    g.axis
        text
            fill #555
            font-size 0.8em
        line
            stroke #ccc
            stroke-width 1px
            shape-rendering crispEdges
        path
            shape-rendering crispEdges
            fill none
            stroke #ccc
            stroke-width 1px
    g.valueDrawer
        &.hidden
            display none
        line
            stroke #aaa
            stroke-width 1px
            shape-rendering crispEdges
        text.y
            font-size 0.72em
            fill #444
            &.reference
                font-weight bold
        rect
            fill white
            fill-opacity 0.7
svg.CZMap
    position absolute
    right 0px
    &.first
        top 10px
        path
            fill #6baed6
            &:hover
                fill #3182bd
                cursor pointer
            &.active
                fill #08519c
    &.second
        top 180px
        path
            fill #74c476
            &:hover
                fill #31a354
                cursor pointer
            &.active
                fill #006d2c
