@import prefixes
@import colors
@import basics
.bydleni
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 100%
    overflow hidden
svg
    path.line
        fill none
        stroke red
        stroke-width 1px
